body {
    background-image:url(file:///Applications/web%20page/photo/abstract-blur-defocused-restaurant-coffee-shop-cafe-interior.jpg);width: 100%;
}
h1 {
    font-size: 35px;
    color:#DC7C32
}
p {
    color:skyblue
}
dt {
    font-size: large;
}
h4{
    font-size: 18px;
}
h4:link{
    color:#303843
    
    
}
h4:hover{
    transition: 0.3s;
    font-size: 20px;
    color:#DC7C32
    
}
th {
    
    background: white;
}
.menutable:link{
    border: none;
}
.menutable:hover{
    transition: 0.6s;
    border-bottom: #DC7C32 5px solid;
    transition: 0.3s;
    font-size: 20px;
    color:#DC7C32
    
    
}
li:link{
    color:#303843
}
li:hover{
    font-size: larger;
    color:#DC7C32
    
}