head{
    @media only screen and(min-width:320px) {
    }
    width: 100%;
}
body{
    margin: 0px;
    background-color: #0C264C;
    opacity: 1;
    background-image: radial-gradient(#fff 1.55px, #0C264C 1.55px);
    background-size: 31px 31px;
}
#menuBar{
    
    height: 100px;
    width: 100%;
    background:white;
    box-shadow: 1px 19px 39px 19px rgba(255,255,255,0.69);
    -webkit-box-shadow: 1px 5px 20px 5px rgba(255,255,255,0.69);
    -moz-box-shadow: 1px 5px 20px 5px rgba(255,255,255,0.69);
    height: 85px;
    
}
#logo{

    margin-left: auto;
    float: left;
}
#middleT{
    text-align: left;
    float: left;
    margin: 0px;
    margin-left: 0px;
    font-size: 20px;
    font-family: 'Modern Age', sans-serif;                            
    color: #0C264C;
}
.menuSelect{
    text-align: center;
    color: #0C264C;
    
    margin-left: 0px;
}
#formid{
    width: 600px;
    margin-left: 20px;
}

.menuword{
    text-align: center;
}
#trmenu{
    height: 50px;
}
#menuicon{
    margin-right: 20px;
    margin-top: 30px;
    float: right;

}
#formid{
    margin-left: 0px;
    width: 100px;
    
}
#dropdown{
    list-style: none;
    color:#0C264C;
    padding: 0px;
    margin: 0px;
    
}
#dropdown:hover{
    transform:rotateX('90');
}
#drop{
    display: none;

}
#drop:hover{
    display: block;
}
@import url('https://fonts.cdnfonts.com/css/modern-age');

